//Wrapper to include chat page body. Header and status bar not included
.chat-page__body
    display: flex
    flex-direction: column
    align-items: center
    flex-grow: 1
    justify-content: space-between
    font-family: Arial, Helvetica, sans-serif

.chat-msg__container
    max-height: 100%
    display: flex
    flex-direction: column
    overflow: scroll
    gap: 5px

//Wrapper and a speech balloon which contains chat massages
.chat-msg__container-shape
    width: 100%
    height: 0
    position: relative
    flex-grow: 1
    max-width: 510px
    background: lightgray
    border-radius: 26px
    margin: 15px 0 30px 0
    padding: 1.5rem 1rem 1.5rem 1rem
    background-color: #FAFAFA
    border: 1px solid #979797
 
.chat-msg__container-shape::before
    content: ""
    position: absolute
    z-index: 256
    top: 99.7%
    right: 80%
    border: solid 20px
    display: inline-block
    border-color: #FAFAFA transparent transparent transparent

.chat-msg__container-shape::after
    content: ""
    position: absolute
    z-index: 255
    top: 100%
    right: 80%
    border: solid 20px
    display: inline-block
    border-color: #aba8a8 transparent transparent transparent

.chat-msg__no-comment-message
    margin:0
    

//Wrapper for the entire chat page 
.chat-page__wrapper
    display: flex
    width: 100vw
    height: 100vh
    min-height: 600px 
    flex-direction: column

.enter-checkbox__wrapper
    display: inline-block


.input__form
    max-width: 510px
    width: 100%
    padding-bottom: 1rem

.input__button-wrapper
    text-align: right
    width: 100%
    max-width: 510px

.input__option-wrapper
    display: flex
    justify-content: space-between
    align-items: center

.input__submit-button
    color: white
    background: #4376DE
    height: 39px
    width: 120px
    font-size: 19px
    border-radius: 5px
    border: 1px solid #979797

.input__user-name
    border-radius: 5px
    border: 1px solid #979797
    margin-bottom: 0.5rem
    padding: 0.3rem

.input__user-text
    width: 100%
    height: 60px
    max-width: 510px
    border-radius: 5px
    resize: none

.speech-balloon
    width: 95%
    border: 1px solid #979797
    border-radius: 5px
    background: #FBFBFB
    padding: 16px
    margin-bottom: 5px
    font-family: Arial, Helvetica, sans-serif
    align-self: flex-end

.speech-balloon--with-username
    padding-top: 8px

.speech-balloon--mine
    align-self: flex-start

.speech-balloon__username
    margin: 0
    font-size: 14px
    color: #383838

.speech-balloon__text
    margin: 0
    font-size: 1rem
    white-space: pre-line

.status-bar
    height: 33px
    text-align: center
    border-bottom: 1px solid #979797
    font-family: Arial, Helvetica, sans-serif
    font-weight: bold

.status-bar__content-wrapper
    max-width: 510px
    width: 90%
    margin: 0 auto
    display: flex
    justify-content: space-around
    align-items: center
    height: 100%

.status-bar__delete-icon
    width: 20px
    vertical-align: bottom

.status-bar__door-icon
    height: 22px
    vertical-align: bottom

.status-bar__participants-image
    width: 22px
    vertical-align: bottom

/******************************************************/
/***              FOR MOBILE DEVICES                ***/
/******************************************************/

@media only screen and ( max-width: 1024px )
    .enter-checkbox__wrapper
        display: none


@media only screen and ( max-width: 520px )
    .chat-page__body
        padding: 5px
    

    