
.status-bar
    height: 33px
    text-align: center
    border-bottom: 1px solid #979797
    font-family: Arial, Helvetica, sans-serif
    font-weight: bold

.status-bar__content-wrapper
    max-width: 510px
    width: 90%
    margin: 0 auto
    display: flex
    justify-content: space-around
    align-items: center
    height: 100%
    